.slides {
	display:flex;
	flex-direction: column;
	// width: 50%;
	height: 100%;
	// overflow: hidden;

	.buttons {
		display: flex;
		justify-content: space-between;
		height: 100%;
		align-items: center;
		z-index: 5;
		
		.button {
			outline: none;
			border: none;
			padding: .6rem 1.2rem;
			font-size: 1.2rem;
			border-radius: .6rem;

			&__prev {
				background-color: gold;
			}
			&__next {
				background-color: goldenrod;
			}
			
			&:hover {
				cursor: pointer;
			}
		}
	}
	&__wrapper {
		display: flex;
	}
}