.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.400);
}

.title {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    letter-spacing: .15rem;
    color: rgba(0, 0, 0, 0.712);
}